<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leitner</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="AddList.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body id="main" >   
    <div class="login-page">
        <div class="form">
          
          
          <form class="login-form">
            <input type="text" placeholder="نام لیست"/>
            <input type="text" placeholder="دسته بندی"/>
            <button>ثبت</button>
            
          </form>
        </div>
      </div>
    

    <script src="main.js"></script>
    <script src="js/bootstrap.min.js"></script>   
</body>
</html>