{% extends 'Main.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'group6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'group6/css/AddList.css' %}">

{% endblock %}
{% block content %}
    <div id="main">
    <div class="login-page">
        <div class="form">
          
          
          <form class="login-form">
            <input type="text" placeholder="نام لیست"/>
            <input type="text" placeholder="دسته بندی"/>
            <button>ثبت</button>
            
          </form>
        </div>
      </div>
    {% endblock %}

{% block js %}
    <script src="{% static 'group6/js/main.js' %}"></script>
    <script src="{% static 'group6/js/bootstrap.min.js' %}"></script>
{% endblock %}
